/* .home h1{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1000px;
}

.home p{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
} */
:root {
  --padding: 6vw 0 4vw 5vw ;
}

.home{
  background-image: radial-gradient(#eeeeee,#eeeeee);
  background-color: #eeeeee;
}

.home h1{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  color:#262626;
  font-size: 120px;
}

.home p{
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: italic;
  margin-top: 15px;
  margin-left: 4px;
  color:#262626;
  letter-spacing: 0.3em;
  font-size: 24px;
  /* font-size: px; */
}

.Versear{
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.middleline{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height:1.2;
}

.Versear::after {
  position: absolute;
  top: 4px;
  display: inline-block;
  content: '';
  width: 1px;
  height: 80%;
  margin-left: 10px;
  background-color: black;
}

.header-title{
  margin-left: 20px;
}

.nav-items__item{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.joinbtn{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.scrolldown{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #262626;
  /* width: 100vw; */
}

.about{
  background-color: #262626;
}

.title{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: italic;
}

.subtitle{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height:1.2;
}

.about h2{
  color: #eeeeee;
  padding-bottom: 5px;
}

.about h1{
  color: #eeeeee;
  /* font-size: 80px; */
}

.about p{
  color: #eeeeee;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height:1;
}

/* .contents{
  border-radius: 50px;
  background: #eeeeee;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border: 0px solid #000;
  margin-top: 50px;
} */

.projects{
  background-color: #eeeeee;
}