/* .home h1{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 1000px;
}

.home p{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
} */
:root {
  --padding: 6vw 0 4vw 5vw ;
}

.home{
  background-image: radial-gradient(#eeeeee,#eeeeee);
  background-color: #eeeeee;
}

.home h1{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.2;
  /* color:#262626; */
  color: #eeeeee;
  font-size: 120px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.home p{
  font-family: "futura-pt", sans-serif;
  font-weight: 500;
  font-style: italic;
  margin-top: 15px;
  margin-left: 4px;
  /* color:#262626; */
  color: #eeeeee;
  letter-spacing: 0.3em;
  font-size: 24px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  /* font-size: px; */
}

.Versear{
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
}

.middleline{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height:1.2;
}

.Versear::after {
  position: absolute;
  top: 4px;
  display: inline-block;
  content: '';
  width: 1px;
  height: 80%;
  margin-left: 10px;
  background-color: black;
}

.header-title{
  margin-left: 20px;
}

.nav-items__item{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.joinbtn{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.scrolldown{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #eeeeee;
  /* width: 100vw; */
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.about{
  background-color: #262626;
}

.title{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

.subtitle{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height:1.2;
}

.about h2{
  color: #eeeeee;
  padding-left: 5px;
  padding-bottom: 5px;
  font-size: 28px;
}

.about h1{
  color: #eeeeee;
  /* font-size: 80px; */
  font-size: 50px;
}

.about p{
  color: #eeeeee;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

/* 画像を角丸＆ドロップシャドウを自然に */
.aboutpic{
  border-radius: 8px;
  box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.projects .content {
  background-color: #eeeeee;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border: 0px solid #000;
}


/* .contents{
  border-radius: 50px;
  background: #eeeeee;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  border: 0px solid #000;
  margin-top: 50px;
} */

.projects{
  background-color: #eeeeee;
}

.projects h1{
  color: #262626;
  font-size: 32px;
  padding-left: 5px;
}

.projects h2{
  color: #262626;
  font-size: 70px;
}

.projects h1 {
  padding-bottom: 5px;
}

.projects .date{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #262626;
  font-size: 14px;
  padding-bottom: 3px;
}

.projects .minititle{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height:1.2;
  color: #262626;
  font-size: 26px;
  padding-bottom: 8px;
}

.projects .sentence{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height:1.2;
  color: #262626;
  font-size: 14px;
}

.join{
  padding-top: 20vh;
}

.join .title{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #8dc5ff;
  font-size: 26px;
  letter-spacing: 1em;
  padding-bottom: 6px;
}

.join .subtitle{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #eeeeee;
  padding-bottom: 60px;
  font-size: 110px;
}

.join h3{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #eeeeee;
  font-size: 26px;
}

.btn {
  /* 枠線を消す */
  /* border: none; */
  position: relative;
  background-color: #fff;
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #262626;
  width: 230px;
  height: 65px;
  font-size: 25px;
  font-weight: bold;
  border: 0px solid#000;
  box-shadow: 0px 0px 10px 0px #000000;
}

.atext{
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #262626;
  font-size: 26px;
}

.btnbox {
  gap: 45px;
}