a {
    text-decoration: none;
  }
  
  ul,li {
    list-style: none;
  }
  
  ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 300px;
  }
  
  .line:before {
    content: "";
    position: absolute;
    left: 40%;
    width: 1px;
    height: 80%;
    background-color: black;
  }
  
  .versear {
    font-weight: bold;
    font-size: 30px;
    font-family: serif;
  }
  
  main {
    position: relative;
    width: 100%;
    top: 80px;
    background-color: #fff;
    /* height: 未定px; */
    display: block;
  }
  
  /* ホーム */
  
  .home {
    position: relative;
    width: 100% - padding-left;
    padding-left: 50px;
    top: 20px;
    font-size: 80px;
    height:600px
  }
  
  .home p {
    font-size: 20px;
  }
  
  /* アバウト */
  
  .about {
    position:relative;
    width: 100% - padding-left;
    padding-left: 50px;
    top: 150px;
    font-size: 40px;
    height: 600px;
  }
  
  .about p {
    font-size: 20px;
  }
  
  /* ジョイン */
  
  .join {
    position: relative;
  }
  
  /* フッター */
  
  .footer {
    margin-top: 2000px;
    background-color: #202523;
    height: 100px;
    display: flex;
    position: relative;
  }
  
  .footer div {
    margin-top: 25px;
    margin-left: 85%;
  }
  
  .footer i {
    color:#fff;
    font-size: 50px;
    padding-left: 20px;
  }
  
  /* ヘッダー */
  
  .header {
    background-color: white;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  
  @media screen and (min-width: 960px) {
    .header {
      height: 80px;
    }
  }
  
  .header__inner {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    position: relative;
  }
  
  /* ヘッダーのロゴ部分 */
  .header__title {
    width: 80px;
  }
  
  .header__title:hover {
    opacity: 0.8;
  }
  
  @media screen and (min-width: 960px) {
    .header__title {
      width: 140px;
    }
  }
  
  /* ヘッダーのナビ部分 */
  
  .header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #fff;
    transition: ease .4s;
    display: flex;
  }
  
  @media screen and (min-width: 960px) {
    .header__nav {
      position: static;
      transform: initial;
      background-color: inherit;
      height: inherit;
      display: flex;
      justify-content: end;
      width: 40%;
    }
  }
  
  .nav__items {
    margin: auto;
  }
  
  @media screen and (min-width: 960px) {
    .nav__items {
      margin: initial;
      width: 100%;
      display: flex;
      align-items: center;
      height: initial;
      justify-content: space-between;
    }
  }
  
  .nav-items__item {
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  
  }
  
  @media screen and (min-width: 960px) {
  
    .nav-items__item:before {
      position: absolute;
      content: "";
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 3px;
      background: orange;
      opacity: 0;
  
    }
  
    .nav-items__item:hover:before {
      opacity: 1;
    }
  
  }
  
  /* ナビのリンク */
  .nav-items__item a {
    color: black;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
  }
  
  .nav-items__item:last-child a {
    margin-bottom: 0;
  }
  
  @media screen and (min-width: 960px) {
    .nav-items__item a {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
  
  /* ハンバーガーメニュー */
  .header__hamburger {
    width: 48px;
    height: 100%;
  }
  
  .hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;
    cursor: pointer;
  }
  
  @media screen and (min-width: 960px) {
    .hamburger {
      display: none;
    }
  }
  
  /* ハンバーガーメニューの線 */
  .hamburger span {
    width: 100%;
    height: 1px;
    background-color: #000;
    position: relative;
    transition: ease .4s;
    display: block;
  }
  
  .hamburger span:nth-child(1) {
    top: 0;
  }
  
  .hamburger span:nth-child(2) {
    margin: 8px 0;
  }
  
  .hamburger span:nth-child(3) {
    top: 0;
  }
  
  /* ハンバーガーメニュークリック後のスタイル */
  .header__nav.active {
    transform: translateX(0);
  }
  
  .hamburger.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
  }