a {
    text-decoration: none;
  }
  
  ul,li {
    list-style: none;
  }
  
  ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 300px;
  }

  .header-btn {
    border: none;
    color: #fff;
    background-color: #000;
    padding: 10px 30px;
    border-radius: 30px;
  }

  .line:before {
    content: "";
    position: absolute;
    left: 40%;
    width: 1px;
    height: 80%;
    background-color: black;
  }
  
  .versear {
    font-weight: bold;
    font-size: 30px;
    font-family: serif;
  }
  
  main {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 1;
    display: block;
  }
  
  .firstscreen {
    height: 100vh;
    width: 100vw;
    background-color:rgba(255,255,255,0);
    opacity: 1;
  }

  /* ホーム */
  
  .home {
    background-color: rgb(89, 71, 194);
    color: rgb(255, 255, 255);
    z-index: -1;
    position: fixed;
    width: 100vw;
    height:100vh;
  }

  .homescript {
    padding-top: 120px;
    padding-left: 20px;
  }

  .home h1 {
    font-size: 80px;
  }

  .home h2 {
    font-size: 30px;
  }
  
  .home p {
    font-size: 20px;
  }

/* スクロールダウン */

  .scrolldown {
    color: #fff;
    position: absolute;
    text-align: center;
    left: 43%;
    bottom: 1%;
  }

  @media screen and (min-width: 960px){
    .scrolldown {
      position: absolute;
      left: 45%;
    }
  }
  
  /* アバウト */
  
  .about {
    position:relative;
    width: 100% - padding-left;
    padding-left: 50px;
    padding-top: 24vh;
    height: 76vh;
  }
  
  .about h1 {
    font-size: 40px;
    padding: 20px 0px;
  }
  .about h2 {
    font-size: 30px;
  }

  .about p {
    font-size: 20px;
  }
  
  /* プロジェクト */
  
  .projects{
    width: 100% - padding-left;
    padding-top: 24vh;
    padding-left: 50px;
    height: 76vh;
    background-color: #eee;
  }

  .projects h2 {
    font-size: 30px;
  }

  .projects h1 {
    font-size: 60px;
    padding: 10px;
  }

  .project {
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
    width: 300px;
    height: 400px;
  }

  .js-img{
    width: 30px;
  }

  /* ジョイン */
  
  .join {
    position: relative;
  }

  .join-btn {
    border: none;
    padding: 15px 35px;
    background-color:#fff ;
  }
  
  /* フッター */
  
  .footer {
    margin-top: 2000px;
    background-color: #202523;
    height: 100px;
    display: flex;
    position: relative;
  }
  
  .footer div {
    margin-top: 25px;
    margin-left: 85%;
  }
  
  .footer i {
    color:#fff;
    font-size: 50px;
    padding-left: 20px;
  }
  
  /* ヘッダー */
  
  .header {
    background-color: white;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    opacity: 0.8;
  }
  
  @media screen and (min-width: 960px) {
    .header {
      height: 80px;
    }
  }
  
  .header__inner {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    position: relative;
  }
  
  /* ヘッダーのロゴ部分 */
  .header__title {
    width: 80px;
  }
  
  .header__title:hover {
    opacity: 0.8;
  }
  
  @media screen and (min-width: 960px) {
    .header__title {
      width: 140px;
    }
  }
  
  /* ヘッダーのナビ部分 */
  
  .header__nav {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #fff;
    transition: ease .4s;
    display: flex;
  }
  
  @media screen and (min-width: 960px) {
    .header__nav {
      position: static;
      transform: initial;
      background-color: inherit;
      height: inherit;
      display: flex;
      justify-content: end;
      width: 40%;
    }
  }
  
  .nav__items {
    margin: auto;
  }
  
  @media screen and (min-width: 960px) {
    .nav__items {
      margin: initial;
      width: 100%;
      display: flex;
      align-items: center;
      height: initial;
      justify-content: space-between;
    }
  }
  
  .nav-items__item {
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  
  }
  
  @media screen and (min-width: 960px) {
  
    .nav-items__item:before {
      position: absolute;
      content: "";
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 3px;
      background: orange;
      opacity: 0;
  
    }
  
    .nav-items__item:hover:before {
      opacity: 1;
    }
  
  }
  
  /* ナビのリンク */
  .nav-items__item a {
    color: black;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 24px;
    margin-bottom: 24px;
  }
  
  .nav-items__item:last-child a {
    margin-bottom: 0;
  }
  
  @media screen and (min-width: 960px) {
    .nav-items__item a {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
  
  /* ハンバーガーメニュー */
  .header__hamburger {
    width: 48px;
    height: 100%;
  }
  
  .hamburger {
    background-color: transparent;
    border-color: transparent;
    z-index: 9999;
    cursor: pointer;
  }
  
  @media screen and (min-width: 960px) {
    .hamburger {
      display: none;
    }
  }
  
  /* ハンバーガーメニューの線 */
  .hamburger span {
    width: 100%;
    height: 1px;
    background-color: #000;
    position: relative;
    transition: ease .4s;
    display: block;
  }
  
  .hamburger span:nth-child(1) {
    top: 0;
  }
  
  .hamburger span:nth-child(2) {
    margin: 8px 0;
  }
  
  .hamburger span:nth-child(3) {
    top: 0;
  }
  
  /* ハンバーガーメニュークリック後のスタイル */
  .header__nav.active {
    transform: translateX(0);
  }
  
  .hamburger.active span:nth-child(1) {
    top: 5px;
    transform: rotate(45deg);
  }
  
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  
  .hamburger.active span:nth-child(3) {
    top: -13px;
    transform: rotate(-45deg);
  }