.head {
    width: 35%;
}

.versear {
    font-weight: bold;
    font-size: 30px;
    font-family: serif;
}

ul {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 300px;
}

ul:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 20%;
    width: 1px;
    height: 50%;
    background-color: black;
}

li {
    font-family: bold;
    padding: 3px;
    list-style: none;
}